*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "pantheraregular";
  src: url("../font/pantheraregular-mvz9j-webfont.woff2") format("woff2"),
    url("../font/pantheraregular-mvz9j-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "beynoregular";
  src: url("../font/beyno-webfont.woff2") format("woff2"),
    url("../font/beyno-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "wakanda_foreverregular";
  src: url("../font/wakandaforever-regular-webfont.woff2") format("woff2"),
    url("../font/wakandaforever-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "cantarellregular";
  src: url("../font/cantarell-regular-webfont.woff2") format("woff2"),
    url("../font/cantarell-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* --------------^^ Les font family ^^---------- */
body {
  background-image: url("../Allpages/arrière_plan.png");
  background-size: cover;
}
.navlink {
  width: 100%;
  height: 300px;
}
.header {
  width: 100%;
  height: 100vh;
}
/* --------------Les deux ligne vertical à gauche et les reseaux sociaux ---------------------- */
.ligneGauche {
  position: fixed;
  width: 3px;
  height: 60vh;
  background-color: #f2cef2;
  margin-left: 3%;
  z-index: 999;
}
.lignetDoite {
  position: relative;
  width: 3px;
  height: 42vh;
  background-color: #f2cef2;
  margin-left: 6.5%;
  z-index: 999;
}
.ligneDroiteRs {
  width: 20px;
  height: 60vh;
  position: fixed;
  margin-left: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  z-index: 999;
}
.reseauSociaux {
  width: 20px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  z-index: 999;
}
/* ---------Partie barre de navigation et les 3 logos Sayna x Marvel--------------- */
.logoNavigation {
  width: 100%;
  height: 100px;
  margin: auto;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  /* position: fixed; */
}
.logoSaynaXMarvel {
  width: 140px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: rgb(44, 42, 165); */
}
.headerNav {
  width: 500px;
  height: auto;
  /* background-color: rgb(22, 58, 58); */
}
.navUl {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: blueviolet; */
}
.item {
  list-style: none;
}
.item a {
  text-decoration: none;
  font-family: "beynoregular";
  color: #ffffff;
  font-size: 22px;
}
/* -------------Partie titre H1 et image de black Panther------------- */
.titleImage {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: blueviolet; */
}
.titleInfos {
  position: relative;
  z-index: 999;
  width: 30%;
  height: auto;
  margin-top: 50px;
  /* background-color: blueviolet; */
  margin-left: 200px;
}
.titleInfos h1 {
  font-family: "pantheraregular";
  font-size: 68px;
  color: #9e91b7;
  margin-bottom: 20px;
}
.titleInfos h2 {
  font-family: "beynoregular";
  font-size: 32px;
  color: #9e91b7;
  margin-bottom: 30px;
}
.titleInfos p,
.titleInfos a {
  font-family: "cantarellregular";
  font-size: 16px;
  width: 90%;
  color: #ffffff;
}
.titleInfos p {
  margin-bottom: 20px;
}
.HeaderImg {
  width: 65%;
  height: auto;
}
.HeaderImg img {
  width: 100%;
  height: auto;
  margin-right: 0px;
}

/* -------------------------Responsive header partie nav image et titre ------------------ */
@media screen and (max-width: 1540px) {
  .logoNavigation {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media screen and (max-width: 792px) {
  .logoNavigation {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media screen and (max-width: 750px) {
  .logoNavigation {
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media screen and (max-width: 510px) {
  .headerNav {
    width: 80%;
    margin: auto;
  }
}
@media screen and (max-width: 910px) {
  .titleImage {
    flex-direction: column;
    justify-content: space-around;
  }
  .titleInfos {
    width: 80%;
    margin-left: auto;
  }
  .HeaderImg {
    min-width: 300px;
    height: auto;
  }
  .HeaderImg img {
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 100px;
  }
}
/*--------------------Partie Article sur les personnages------------------*/
.article {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: end;
  position: relative;
  right: 0;
}
.backgroundArticle {
  width: 90%;
  height: 345px;
  right: 0;
  padding-left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
  background-color: #021740;
}
.Killmonger {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.KilmongerContent,
.OkoyeContent {
  padding: 20px;
}
.KilmongerContent h2,
.OkoyeContent h2 {
  font-family: "beynoregular";
  font-size: 32px;
  color: #9e91b7;
  margin-bottom: 30px;
}
.KilmongerContent p,
.OkoyeContent p,
.KilmongerContent a,
.OkoyeContent a {
  font-family: "cantarellregular";
  font-size: 16px;
  width: 90%;
  color: #ffffff;
}
/* --------------responsive sur la partie Article sur les personnages --------------------------*/
@media screen and (max-width: 1615px) {
  .backgroundArticle {
    width: 100%;
  }
}
@media screen and (max-width: 1460px) {
  .backgroundArticle {
    padding: 30px;
    margin: auto;
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
  }
  .article {
    width: 100%;
    height: auto;
  }
  .backgroundArticle h2,
  .backgroundArticle p,
  .OkoyeContent a,
  .KilmongerContent a {
    margin: auto;
    text-align: center;
  }
  .OkoyeContent a,
  .KilmongerContent a {
    display: block;
  }
}
@media screen and (max-width: 425px) {
  .backgroundArticle {
    top: 100px;
  }
}
@media screen and (max-width: 360px) {
  .backgroundArticle {
    width: 100%;
    margin-bottom: 200px;
  }
}
/* --------------Fin responsive sur la partie Article sur les personnages --------------------------*/
.contenuCard {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
  padding: 150px;
}
.contenu {
  width: 60%;
  padding: 50px;
}
.contenu h2 {
  font-family: "beynoregular";
  font-size: 32px;
  color: #9e91b7;
  margin-bottom: 30px;
}
.contenu p {
  font-family: "cantarellregular";
  width: 100% !important;
  font-size: 16px;
  width: 90%;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: justify;
}
.tchallaImg {
  position: absolute;
  margin-top: 0px;
}
.card {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: bisque; */
}
.infoTchalla {
  background-color: #f2cef2;
  width: 450px;
  height: auto;
  padding-top: 250px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
  margin-top: 300px;
  border-radius: 10px;
}
.infoTchalla h3 {
  font-family: "cantarellregular";
  text-align: center;
  margin-top: 20px;
}
.infoTchalla p {
  font-family: "cantarellregular";
  text-align: justify;
  margin-top: 10px;
}
.infoTchalla span {
  font-family: "cantarellregular";
  text-align: justify;
  margin-top: 10px;
  font-weight: bold;
}
.minuscule {
  font-family: "cantarellregular";
  font-size: 10px;
}
.cardbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cardbutton button {
  width: auto;
  padding: 10px 15px;
  background-color: #3d2da6;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: "cantarellregular";
  color: #ffffff;
}
/*-----------------Partie sur les synopsis et l'histoire de T'challa-----------------------*/
@media screen and (max-width: 1024px) {
  .contenuCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px;
    margin: auto;
  }
  .contenu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: auto;
  }
  .card {
    width: 100%;
    min-width: 350px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .infoTchalla {
    background-color: #f2cef2;
    width: 100%;
    height: auto;
    padding-top: 250px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    margin-top: 300px;
    border-radius: 10px;
  }
}
/*-----------------Fin Partie sur les synopsis et l'histoire de T'challa-----------------------*/
/*----------------- Responsive T'challa et quelque paramétrage dans le header-----------------------*/
@media screen and (max-width: 515px) {
  .card {
    width: 100%;
    min-width: 350px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .titleInfos,
  .titleInfos p {
    margin-left: 0px;
    margin-right: 0px;
  }
  .infoTchalla {
    width: 100%;
    margin: 0px;
    padding-top: 20px;
    border-radius: 0px;
  }
  .card img {
    width: 100%;
  }
}
@media screen and (max-width: 370px) {
  .KillmongerImage {
    margin: 0px;
    padding: 0px;
  }
  .KillmongerImage img {
    width: 100%;
    margin: 0px;
  }
}
/*----------------- Fin Responsive T'challa et quelque paramétrage dans le header-----------------------*/
/*----------------- Section Formulaire de contact -----------------------*/
.FormulaireDeContact {
  width: 100%;
  height: 100vh;
  background-image: url("../Accueil/Pantherhome7.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactForm {
  width: 55%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(223, 153, 242, 0.18531162464985995) 100%
  );
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
}
.contactForm p {
  font-family: "cantarellregular";
  font-weight: bolder;
  margin-bottom: 20px;
  color: #021740;
}
.contactForm h2 {
  font-family: "cantarellregular";
  font-weight: bolder;
  margin-bottom: 20px;
  color: #021740;
  font-size: 43px;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
}
button {
  width: 174px;
  height: 54px;
  border-radius: 38px;
  font-family: "cantarellregular";
  font-weight: bolder;
  text-transform: uppercase;
  color: #021740;
  background-color: #f2cef2;
  border: none;
  cursor: pointer;
}
.submit:hover {
  box-shadow: 0 5px 20px #021740;
}
input {
  width: 520px;
  height: 56px;
  border: 1px solid #021740;
  border-radius: 38px;
  margin-bottom: 20px;
  padding: 20px;
  font-family: "cantarellregular";
  font-size: 14px;
  color: #021740;
  background-color: transparent;
}
textarea {
  width: 520px;
  height: 25vh;
  border-radius: 38px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #021740;
  font-family: "cantarellregular";
  font-size: 14px;
  color: #021740;
  resize: none;
  outline: none;
  background-color: transparent;
}
input::placeholder,
textarea::placeholder {
  color: #021740;
}
/* ------------Fin Formulaire de contact ---------------------- */
/*------------------Responside pour le formulaire de contact-------------*/
@media screen and (max-width: 1128px) {
  .contactForm {
    width: 55%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(223, 153, 242, 0.18531162464985995) 100%
    );
    border-radius: 20px;
  }
}
@media screen and (max-width: 1030px) {
  input {
    width: 400px;
  }
  textarea {
    width: 400px;
  }
}
@media screen and (max-width: 800px) {
  input {
    width: 300px;
  }
  textarea {
    width: 300px;
  }
}
@media screen and (max-width: 600px) {
  .contactForm {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    border-radius: 0px;
  }
  .tchallaImg {
    position: relative;
    width: 100%;
    padding: 0px;
  }
  .tchallaImg img {
    width: 100%;
    margin: 0px;
  }
}
/*------------------Fin responside pour le formulaire de contact-------------*/
/* ------------------------------Section footer -------------------*/
footer {
  width: 100%;
  height: 80vh;
  background-image: url("../Allpages/back_footer.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerContent {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
}
.SaynaMarvelCircle {
  width: 40%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SaynaMarvelCircle img:first-of-type {
  position: relative;
}
.logoFooter {
  position: absolute;
  width: 8%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
}
.pagesContactRsDroit {
  width: 50%;
  height: 30vh;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
}
.pagesContact {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
}
.pages,
.ContacRs {
  width: 50%;
  height: 100%;
  padding: 20px;
}
.pages p,
.ContacRs p {
  font-family: "cantarellregular";
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 22px;
  color: #ffffff;
  letter-spacing: 28%;
}
.pages a {
  display: block;
  margin-bottom: 15px;
  text-decoration: none;
  font-family: "cantarellregular";
  font-size: 18px;
  color: #ffffff;
}
.contactIconFooter {
  width: 200px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  justify-content: space-between;
}
.contactIconFooter .containerIcon:nth-child(1) {
  background-color: #f2cef2;
  padding: 10px;
  border-radius: 50%;
}
.contactIconFooter .containerIcon:nth-child(2) {
  background-color: #df99f2;
  padding: 10px;
  border-radius: 50%;
}
.contactIconFooter .containerIcon:nth-child(3) {
  background-color: #3d2da6;
  padding: 10px;
  border-radius: 50%;
}
.contactIconFooter .containerIcon:nth-child(4) {
  background-color: #07338c;
  padding: 10px;
  border-radius: 50%;
}
.droit {
  width: 100%;
  height: auto;
  margin: 0px !important;
  padding: 0px !important;
}
.droit p {
  font-family: "cantarellregular";
  font-size: 16px;
  width: 100%;
  color: #ffffff;
  text-align: center;
}
.droit span {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #f2cef2;
  border-radius: 50%;
}
/* ------------------------------ fin Section footer -------------------*/
/* ------------------------------   Responsive du Section footer -------------------*/

@media screen and (max-width: 765px) {
  .pagesContact {
    height: auto;
    flex-direction: column;
  }
}
@media screen and (max-width: 555px) {
  .droit {
    width: 100%;
    margin-right: 0;
    margin-top: 0;
  }
  .footerContent {
    width: 100%;
  }
  .contactIconFooter {
    width: 150px;
  }
  .containerIcon {
    padding: 2px;
  }
  .containerIcon img {
    width: 10px;
    height: 10px;
  }
  .footerContent {
    flex-direction: column;
  }
  .pagesContact {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .pagesContactRsDroit {
    width: 100%;
  }
  .SaynaMarvelCircle img {
    width: 100%;
  }
  .droit {
    width: 100%;
    height: 20px;
    margin: 0px;
    padding-left: 200px;
  }
}
/* --------------Fin responsive du Section footer -------------------*/
/*----------------animation nav bar ----------------*/
.item a::after {
  content: "";
  display: block;
  margin: 0 0;
  width: 0%;
  height: 2px;
  background-color: #9e91b7;
  transition: 0.2s ease-in-out;
}
.item a:hover::after {
  width: 100%;
}
.item a:hover {
  color: #9e91b7;
}
.item a.active-link::after {
  width: 100%;
}

.item a.active-link {
  color: #9e91b7;
}
/*------------------Fin animation nav bar----------*/
/*------------------Debut css wakanda--------------------*/
/*----------HEADER WAKANDA----------------*/
.headerWakanda {
  width: 100%;
  height: 100vh;
  background-image: url("../Wakanda/Pantherwakanda1.png");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}
.titleWakanda {
  width: 80%;
  padding: 200px;
}
.titleWakanda h1 {
  font-family: "beynoregular";
  font-size: 68px;
  color: #9e91b7;
  margin-bottom: 20px;
}
.titleWakanda h2 {
  font-family: "wakanda_foreverregular";
  font-size: 43px;
  color: #9e91b7;
  margin-bottom: 20px;
  margin-top: 20px;
}

.titleWakanda P {
  height: auto;
  font-family: "cantarellregular";
  font-size: 16px;
  color: #ffffff;
}
.circle {
  width: 45%;
  height: 45%;
}
/*---------- Fin HEADER WAKANDA----------------*/
/*-----------Partie responsive du header Wakanda-------------*/
@media screen and (max-width: 670px) {
  .titleWakanda,
  .paragrapheCircle {
    width: 100%;
    /* background-color: aqua; */
    margin-top: 200px;
    left: 0;
    right: 0;
    padding: 0;
  }
  .headerWakanda {
    align-items: start;
    justify-content: center;
  }
}
/*---------------Contenu textuel wakanda ------------*/
.contentwakanda {
  background-image: url("../Wakanda/Pantherwakanda2.png");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}
.youtubLink {
  margin: 0;
  padding: 30px;
  padding-left: 20%;
  padding-right: auto;
  width: 100%;
  height: 300px;
  font-size: 16px;
  font-family: "cantarellregular";
  background-color: #3d2da6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.youtubLink a {
  text-align: center;
  font-size: 16px;
  font-family: "cantarellregular";
  color: #ffffff;
  margin-bottom: 20px;
}
.militaireImg {
  width: 100%;
  height: auto;
}
.militaireImg img {
  width: 100%;
}
@media screen and (max-width: 655px) {
}
/*-----------Partie responsive Wakanda-------------*/
@media screen and (max-width: 700px) {
  .militaireImg {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 670px) {
  .contenu h2 {
    line-height: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 620px) {
  .contenu p {
    width: 100%;
  }
}
@media screen and (max-width: 440px) {
  .youtubLink {
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .youtubLink {
    padding: 10px;
  }
}
/*----------- Fin partie responsive Wakanda-------------*/
/*--------------Css Enigme-----------------*/
/*---------------Header Enigme------------*/
.titleImageEnigme {
  width: 100%;
  height: 100vh;
  padding-right: 15%;
  display: flex;
  align-items: end;
  justify-content: end;
  flex-direction: column;
  background-image: url("../Enigme/Pantherenigme1.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* background-color: aqua; */
}
.titleEnigme {
  width: 50%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: start;
  /* background-color: rgb(255, 0, 179); */
}
.titleEnigme h1 {
  display: block;
  width: auto;
  font-family: "beynoregular";
  font-size: 68px;
  color: #9e91b7;
  /* text-align: justify; */
  padding: 20px;
}
.paragEnigme {
  width: 45%;
  height: 40vh;
  background-image: url("../Enigme/Pantherenigme2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2% 3% 0px;
  font-family: "cantarellregular";
  color: #ffffff;
  /* background-color: rgb(4, 0, 255); */
}
.paragEnigme p {
  display: block;
  width: 100%;
  height: auto;
  /* background-color: #df99f2; */
}
/*--------------- Fin Header Enigme------------*/
/*--------------- Responsive Header Enigme------------*/

@media screen and (max-width: 1300px) {
  .titleImageEnigme {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    text-align: center;
  }
  .titleEnigme {
    width: 100%;
    padding: auto;
  }
  .titleEnigme h1 {
    width: 100%;
  }
}
@media screen and (max-width: 1215px) {
  .paragEnigme {
    width: 80%;
  }
}
@media screen and (max-width: 1215px) {
  .titleImageEnigme {
    background-position: center;
  }
}
@media screen and (max-width: 340px) {
  .paragEnigme {
    width: 100%;
    text-align: justify;
  }
}
/*----------Question et reponse Enigme---------------*/
.enigmeAsavoir {
  width: 100%;
  height: auto;
  /* background-color: #df99f2; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.containerEnigm {
  width: 90%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.enigmTitle {
  padding-left: 6%;
  display: block;
  width: 100%;
  font-family: "wakanda_foreverregular";
  font-size: 43px;
  color: #9e91b7;
  margin-bottom: 20px;
  width: 50%;
  /* background-color: #3d2da6; */
  text-align: justify;
}
.containerEnigmRespons {
  width: 100%;
  height: auto;
  /* background-color: #07338c; */
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
}
.transcriptionBox {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  /* background-color: #df99f2; */
  align-items: justify;
}
.transcriptionBox p:first-child,
.reponse p {
  font-family: "cantarellregular";
  color: #ffffff;
  margin-bottom: 20px;
}
.transcriptionBox p:nth-child(2) {
  font-family: "cantarellregular";
  color: #ffffff;
  text-align: justify;
}
.transcriptionBox p:nth-child(2) span {
  font-family: "wakanda_foreverregular";
  color: #ffffff;
  margin-bottom: 20px;
}
.transcriptionBox {
  width: 30%;
}
.reponse input {
  border: 1px solid #f2cef2;
  margin-bottom: 150px;
  color: #f2cef2;
}
.reponse input::placeholder {
  color: #f2cef2;
}
.reponse {
  padding-left: 6%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  /* background-color: #df99f2; */
  align-items: justify;
}
.reponse button {
  margin-left: 155px;
  margin-bottom: 100px;
}
/*---------------Fin question et reponse Enigme---------------*/
/*-----------Responsive pour la seceetion question et reponse Enigme--------------*/
@media screen and (max-width: 1300px) {
  .enigmTitle {
    text-align: center;
    width: 100%;
    padding-left: 0px;
  }
  .containerEnigmRespons {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .paragEnigme {
    width: 100%;
  }
  .reponse {
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: #df99f2; */
    align-items: justify;
  }
  .reponse input {
    border: 1px solid #f2cef2;
    margin-bottom: 100px;
  }
  .reponse button {
    margin: auto;
    margin-bottom: 100px;
  }
  .containerEnigmRespons {
    width: 100%;
    height: auto;
    padding-bottom: 5%;
  }
}
